@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&subset=korean');
::selection {
	color: #ffffff;
	background-color: rgb(146, 167, 210);
}
::moz-selection {
	color: #ffffff;
	background-color: rgb(146, 167, 210);
}
body {
	color: #fff;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-size: 13pt;
	font-family: 'Do Hyeon', sans-serif;
	overflow-x: hidden;
	}	
body > *:not(.fixedmenu) {position: relative;}
#pop {left:0;}
.fixedmenu {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 9999;
	}
.outermenu {
	width: 320px;
	margin: 0 auto;
	display: table;
	}
.innerlogo {
	left: 99px;
	position: fixed;
	display: table-cell;
	vertical-align: middle;
	}
.innerlogo img {
	height: 60px;
	}
.innermenu {
	top: 64px;
	left: 4px;
	text-align: center;
	position: fixed;
	display: table-cell;
	vertical-align: middle;
	}
.bblank {
	height: 100px;
	background-color: #000;
	}
.main1 {
	width: 100%;
	height: 90vh;
	background-color: #000;
	background-image: url(image/main1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	}
.main2 {
	width: 100%;
	height: 90vh;
	background-color: #000;
	background-image: url(image/main2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	background-color: #3a3a3a;
	text-align: center;
	}
.main3 {
	width: 100%;
	height:90vh;
	background-color: #000;
	background-image: url(image/main3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	}
.main4 {
	width: 100%;
	height: 90vh;
	background-color: #000;
	background-image: url(image/main4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	}
.center{
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	}
img {
	max-width: 310px;
	width: expression(this.width > 350 ? 350 : true);
	height: auto;
	}
h1 {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 32pt;
	margin:0
	}
a {
	color: #fff;
	text-decoration: none;
	}
a:hover {
	color: #fff;
	text-decoration:none;
	}
a:visited {
	color: #fff;
	text-decoration: none;
	}
a:active {
	color: #fff;
	text-decoration: none;
	}
a.btn {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 17px;
	text-shadow: 1px 1px 3px #666;
	background-color: #ffb700;
	padding: 8px 16px;
	color: #fff;
	margin: .25rem;
	}
a.btn:hover {
	background-color: #ffd261;
	text-decoration: none;
	}
a.btn:visited {
	color: #fff;
	text-decoration: none;
	}
a.btn:active {
	color: #fff;
	text-decoration: none;
	}
